<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cadastro de Livros</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cadastro de Livros", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/Livro">Livros</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    <!-- Angular main files -->
    <script src="~/Scripts/Angular/app/app.js"></script>
    <script src="~/Scripts/Angular/app/app.constants.js"></script>
    <script src="~/Scripts/Angular/app/factories/api-call.factory.js"></script>
    <script src="~/Scripts/Angular/app/directives/confirm-action-click.directive.js"></script>
    <!-- End Angular main files -->

    <!-- Livro Module -->
    <script src="~/Scripts/Angular/livro/livro.module.js"></script>
    <script src="~/Scripts/Angular/livro/livro.config.js"></script>
    <script src="~/Scripts/Angular/livro/livro.controller.js"></script>
    <!-- End Livro Module -->

    @RenderSection("scripts", required: false)
</body>
</html>

